<!DOCTYPE html>
<html>
    <head>
        <meta charset="gbk"/>
        <title><%= userName %>的主页</title>
        <meta name="description" content="阿里巴巴批发大市场"/>
        <meta name="keywords" content="阿里巴巴,采购批发,1688,行业门户,网上贸易,b2b,电子商务"/>
        <!--[if IE]>
            <script src="http://static.c.aliimg.com/js/app/operation/module/html5reset/html5-for-ie.js"></script>
        <![endif]-->
        <link href="http://static.c.aliimg.com/css/app/operation/industrial/global/v4.css" rel="stylesheet"/>
        <link href="http://static.c.aliimg.com/css/app/operation/industrial/page/category/main/merge.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
			<%= userName %>的主页
		</header>
		<article>
			<table>
				<thead>
					<tr>
						<th>描述</th>
						<th>生效时间</th>
						<th>过期时间</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="3"></td>
					</tr>
				</tfoot>
				<tbody>
					<% for(var i=0,l=taskList.length;i<l;i++){ %>
					<tr>
						<td><%= taskList[i].name %></td>
						<td><%= taskList[i].startTime %></td>
						<td><%= taskList[i].endTime %></td>
					<tr>
					<% } %>
				</tbody>
			</table>
		</article>
		<footer>
		
		</footer>
    </body>
</html>